<!DOCTYPE html>
<html lang="de">
    <head id="head">
        <title>Personen Tabelle</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <script src="js/tomadi.js" type="module"></script>
        <script src="js/personen.js" type="module"></script>
    </head>
    <body>
        <h1>Personenliste</h1>
        <table id="table">
            <tr>
                <th>ID</th>
                <th>Anrede</th>
                <th>Vorname</th>
                <th>Nachname</th>
            </tr>
            <tr th:each="person : ${personen}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.anrede}"></td>
                <td th:text="${person.vorname}"></td>
                <td th:text="${person.nachname}"></td>
            </tr>
        </table>
    </body>
</html>